{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h3>{{ 'mosque.form.streamUrl.title'|trans }}</h3>
            <div class="alert alert-info mt-2">
                <p><i class="fa fa-info-circle"></i> {{ 'mosque.form.streamUrl.subTitle'|trans }}</p>
                <p>{{ 'mosque.form.streamUrl.info1'|trans|raw }}</p>
                {% if not form.vars.data.isMosque %}
                    <p>{{ 'mosque.form.streamUrl.info2'|trans|raw }}</p>
                {% else %}
                    <p>{{ 'mosque.form.streamUrl.info3'|trans|raw }}</p>
                {% endif %}
            </div>

            <h5></h5>
            {{ form(form) }}

            <p class="mt-2">{{ 'mosque.form.streamUrl.info4'|trans|raw }}</p>
            <iframe class="mt-1" width="360" height="215" src="https://www.youtube.com/embed/60ywUZf0RbU" frameborder="0" allowfullscreen></iframe>

            <p class="mt-2">{{ 'mosque.form.streamUrl.info5'|trans|raw }}</p>

            <a href="http://store.novasud.com/index.php?route=product/product&product_id=60" target="_blank">
                <img src="http://store.novasud.com/image/cache/catalog/PTZ-Optics-20X-SDI-Front1-500x500.png"
                     width="200px">
            </a>
        </div>
    </div>
{% endblock %}